body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
}

canvas {
    background: #eee;
    border: 2px solid #000;
}
