 <!-- Navigation Bar -->
<header class="top-bar">
    <button id="theme-toggle" aria-label="Toggle Theme">
        <svg id="theme-icon" viewBox="0 0 24 24">
            <path d="M12 4.5V2m0 20v-2.5M4.5 12H2m20 0h-2.5M5.6 5.6L4.2 4.2m15.6 15.6l-1.4-1.4M5.6 18.4l-1.4 1.4m16.8-16.8l-1.4 1.4M12 7a5 5 0 110 10 5 5 0 010-10z"/>
        </svg>
    </button>
    <nav class="top-nav">
        <a href="/">Home</a>
        <a href="/projects/">Projects</a>
        <a href="/cv/">CV</a>
        <a href="/auth/" class="icon">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <title>User Icon</title>
                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                <text 
                    x="12" 
                    y="9.5" 
                    font-family="sans-serif" 
                    font-size="5.5px" 
                    font-weight="bold" 
                    text-anchor="middle"
                    fill="white"
                    style="mix-blend-mode: difference; pointer-events: none;"></text>
            </svg>
        </a>
    </nav>
</header>
