html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  top: var(--topbar-height);
}

body {
    background: var(--bg-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 17vw;
    position: sticky;
    top: var(--topbar-height);
    height: calc(100dvh - var(--topbar-height));

    border-radius: 0.75rem;
    box-shadow: 0 6px 10px var(--shadow-color);

    padding-left: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: var(--text-color);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  margin-bottom: 60px;
  scroll-margin-top: var(--topbar-height);
  width: 100%;
  max-width: 900px;
}
