/* Define Themes */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --icon-color: #222;
    --hover-color: #aaaaaa;
    --shadow-color: #00000020;
}

[data-theme="dark"] {
    --bg-color: #232323;
    --text-color: #e8e8e8;
    --icon-color: #ddd;
    --hover-color: #00ea4e;
    --shadow-color: #e8e8e820;
}

/* Toggle Themes */
#theme-toggle {
    position: fixed;
    top: 8px;
    left: 12px;
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

#theme-toggle svg {
    width: 100%;
    height: 100%;
    fill: var(--icon-color);
    transition: transform 0.2s, fill 0.25s;
}

#theme-toggle:hover svg {
    transform: scale(1.15);
}