
#plot {
    position: relative;
    width: min(600px, 100%);  /* dynamic */
    aspect-ratio: 1 / 1; /* square */
    margin: 0 auto; /* centered */

    border: 5px solid var(--shadow-color);
    border-radius: 0.75rem;
}

#heatmap {
    width: 64;
    height: 64;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

#visualizer-svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#tooltip {
    position: absolute;
    pointer-events: none;

    background: var(--bg-color);
    color: var(--text-color);

    padding: 6px 10px;
    border-radius: 6px;

    font-size: 12px;

    border: 1px solid var(--icon-color);;
    z-index: 10;
}

p {
  max-width: 900px;
  width: 100%;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  top: var(--topbar-height);
}

body {
    background: var(--bg-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 17vw;
    position: sticky;
    top: var(--topbar-height);
    height: calc(100dvh - var(--topbar-height));

    border-radius: 0.75rem;
    box-shadow: 0 6px 10px var(--shadow-color);

    padding-left: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: var(--text-color);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  margin-bottom: 60px;
  scroll-margin-top: var(--topbar-height);
  width: 100%;
  max-width: 900px;
}
